{% extends 'admin/base.html' %}
{% block content %}
    {% if spnego_success %}
      Successful authentication!
    {% else %}
        You are seeing this page due to an issue completing GSSAPI-SPNEGO authentication.  The most common reasons for this to occur are:
            <ul>
                <li>You do not have a valid Kerberos TGT.  Re-run <b>kinit</b></li>
                <li>Your browser is not configured to offer Authorization details to this website.
                    See <a href="https://www.ibm.com/support/knowledgecenter/en/SSEQTP_9.0.0/com.ibm.websphere.base.doc/ae/tsec_SPNEGO_configweb_new.html">
                    this handy guide</a> or contact your Group Policy administrator</li>
                <li>There is a server-side configuration error.  Contact the administrators of this site.</li>
            </ul>
    {% endif %}
{% endblock %}